@font-face {
    font-family: "FX-4000P";
    src: url("assets/fonts/fx-4000p.ttf") format("truetype");
}

@font-face {
    font-family: "OPTI Edgar Bold Extended";
    src: url("assets/fonts/OPTIEdgarBold-Extended.otf") format("opentype");
}

body {
    background-color: black;
    display: grid;
    height: 100vh;
    place-items: center;
}

.calculadora {
    background-color: rgb(33 33 33);
    border-color: dimgray;
    border-radius: 4px;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    max-width: 350px;
    padding: 10px;
    width: 50%;
}

.marca {
    color: lightgrey;
    cursor: crosshair;
    display: block;
    font-family: 'OPTI Edgar Bold Extended', Arial, sans-serif;
    padding-bottom: 10px;
}

.pantalla {
    background-color: #a8a982;
    border-radius: inherit;
    box-shadow: inset 0px 10px 7px -4px rgba(0, 0, 0, 0.5);
    color: #1B1B1AF3;
    font-family: 'FX-4000P', sans-serif;
    font-weight: 400;
    height: 60px;
    padding: 1px 5px;
    text-shadow: 0px 5px #1B1B1A1E;
}

.operacion {
    font-weight: 100;
    letter-spacing: .1rem;
    padding: 5px;
    overflow: auto;
}

.cursor {
    animation: blink .6s infinite;
    animation-fill-mode: both;
    font-weight: 300;
    font-size: small;
    /* padding-top: 7px; */
    position: absolute;
}

@keyframes blink {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.resultado {
    font-size: x-large;
    font-weight: 500;
    overflow-x: auto;
    text-align: right;
}

.no-seleccionar {
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

.seleccionar {
    /* Safari */
    -webkit-user-select: text;
    /* IE 10 and IE 11 */
    -ms-user-select: text;
    /* Standard syntax */
    user-select: text;
}

.teclado {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    min-width: 95%;
    padding: 4px;
}

.btn {
    background-color: #575656;
    border: 1px outset #918E8E;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    line-height: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 20px -6px #111111;
}

.btn-operacion {
    background-color: olivedrab;
}

.btn-igual {
    background-color: orange;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    box-shadow: inset 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
    border: none;
}